 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
h1 {
  vertical-align: middle;
}

body {
  background: chartreuse;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 4px;
  padding: 60px;
  h1 {
    font-size: 100px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
